# Virtual Environment
venv/
env/

# Python Cache
__pycache__/
*.py[cod]
*$py.class

# Database (Don't commit local test data!)
instance/
*.sqlite3
*.db

# Ignore the exports
app/static/exports
*.csv

# Environment Variables
.env
.flaskenv

# Celery
celerybeat-schedule
celerybeat.pid
celerybeat-schedule.db
celerybeat-schedule.dir
celerybeat-schedule.dat

# User Generated Exports (Don't commit the downloaded CSVs)
app/static/exports/*.csv

# OS & IDE Files
.vscode/
.idea/
.DS_Store
__MACOSX/

# PLAN.md
PLAN.md